@font-face {
  font-family: 'Poppins';
  src: url(./Poppins-Regular.ttf);
}


h1{
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
  line-height: 2rem;
}

.wrapperFlexRowSpaceBetween{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.wrapperFlexColumnStartCenter{
  display: flex;
  flex-direction: column;      
  justify-content: flex-start;
  align-items: center; 
}

.widthAndPadding{
  max-width: 1200px;
  padding: 5vh 5vw;
  margin: 0 auto;
}

.widthAndBorder{
  max-width: 100%;
  padding: 10vh 5vw;
  margin: 0 auto;
  border-top: 1px solid rgb(231, 234, 243);
  border-bottom: 1px solid rgb(231, 234, 243);
}

.radius3Rem{
  border-radius: 3rem;
}

.radius03Rem{
  border-radius: 0.3rem;
}

.grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;   
}

.howWorkArticle{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  max-width: 55%;
}
 
.hintButton{
  color: #377dff;
  font-size: 0.8rem;
  background-color: rgb(55,125,255,10%);
  padding: 0.6rem;  
}

.advertisingText{  
  color: #77838f;
  font-size: 1.1rem;
  line-height: 1.7rem;
  margin: 1rem 0;
  text-align: center;
}

.withNoutImage, .howWorkArticle ~ img{
  max-width: 40%;
  object-fit: contain;
}

.BlueButton{
  color: white;
  background-color: #377dff;
  padding: 1rem 1.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  
}

.BlueButton>span{
  padding: 0 0.6rem;
}

.BlueButton:hover{
  transition: all 0.2s ease-in-out;
  transform: translate(0, -3px);
  box-shadow: 0 4px 11px rgb(55 125 255 / 35%);
}  

.wayToUseCard{
    text-align: center;
    border: 1px solid rgb(231, 234, 243);
    padding: 10% 5% 20% 5%;
}

.wrapperFlexColumnStartCenter>img{
  width: 5rem;
  padding: 1.5rem;  
}

.namingList{
  padding-left: 5rem;
}

.namingListItem{
  border: 1px solid rgb(231, 234, 243);
  padding: 1rem 2rem;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
}

.namingListItem span{
  font-size: 4rem;
  color: #377dff;
  padding-right: 2rem;
  font-family: "Poppins",Helvetica,Arial,sans-serif;
}

.namingListItem .advertisingText, .howWorkArticle .advertisingText{
  text-align: left;
}


.namingListItem::before{  
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -3.5rem;
  width: 3rem;
  height: 0.05rem;
  border-top: 1px solid #e7eaf3; 
  margin: auto auto auto 0;
  content: "";
}

.namingListItem::after{  
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: -3.5rem;
width: 0.05rem;
height: 150%;
border-right: 1px solid #e7eaf3; 
margin: auto auto auto 0;
content: "";
}

.namingListItem:first-child::after {
  height: 50%;
  border-right: 1px solid #e7eaf3; 
  top:auto; 
}

.namingListItem:last-child::after {
  height: 50%;
  border-right: 1px solid #e7eaf3; 
  bottom: auto; 
}

@media screen and (max-width: 1200px) {
  .widthAndPadding{
    max-width: calc( 100% - 3rem);
  }
}

@media screen and (max-width: 992px) {
  .wrapperFlexRowSpaceBetween{
    flex-direction: column-reverse;
  }
  .howWorkArticle{
    max-width: 100%;
  }
  .howWorkArticle ~ img{
    max-width: 0%;
  }
  .withNoutImage, .namingList{
    max-width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .grid{
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 2rem;
  }
  .wrapperFlexColumnStartCenter>img{
    width: 5rem;
    padding: 0;
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .BlueButton{
    width: 85%;
    justify-content: center;
    margin: 0 auto;
  }
}
